p {
	white-space:pre-wrap;
}

.myfp--responsive-image {
	width:100%;
	max-width:100%;
	display:block;
	height:auto;
}

.myfp--wrap-text-image {
	float:inherit;
  border: 1px solid red;
}

.myfp--feeds-post {
	float:left;
	width: 100%;
  border: 1px solid blue;
}



// TOP NAVIGATION
.myfp__nav--list {}
.myfp__nav--list-item {}
