p{
	white-space:pre-wrap;
}

.myfp--responsive-image{
	width:100%;
	max-width:100%;
	display:block;
	height:auto;
}

.myfp--wrap-text-image{
	float:inherit;
}

.myfp--feeds-post{
	float:left; 
	width: 100%;
}
